body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}
.img-header{
    width: 40px;
    height: auto;
    padding-left: 10px;
    flex-grow: 1;
}
nav{
    display: grid;
    grid-template-columns: 200px auto 170px;
    border-bottom: 1px solid gray;
}
.nav-right{
    display: flex;
    gap: 1em;
    justify-content: right;
    padding-right: 10px;
    align-items: center;

}
.ceneter-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-icons{
    cursor: pointer;
    color: gray;
    border-radius: 10px solid gray;
}
.material-icons:hover{
    background-color: rgb(237, 96, 96);
    border-radius: 20px;
    padding: 2px;
}
span{
    cursor: pointer;

}
a{
    text-decoration: none;
    color: black;
    padding-left:20px;
    padding-right: 20px;
}
a:hover{
    text-decoration:underline solid red;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(175, 71, 71);
}
main{
    margin-top: 2em;
    display: grid;
    gap: 1em;
    grid-template-rows: 200px auto auto 150px;
    grid-template-columns: auto auto;
    background-color: gray;
}
.top-main{
    grid-column: 1 /span 2;
    background-color: gray;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}
.shoes-main-top{
    width: 100%;
    flex-wrap: wrap;
    height: 50vh
}

