body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}
.img-header{
    width: 40px;
    height: auto;
    padding-left: 10px;
    flex-grow: 1;
}
nav{
    display: grid;
    grid-template-columns: 200px auto 170px;
    border-bottom: 1px solid gray;
}
.nav-right{
    display: flex;
    gap: 1em;

}
.ceneter-bar{
    display: flex;
    gap: 1em;
    align-items: center;

}
.material-icons{
    cursor: pointer;
    color: gray;
}
span{
    cursor: pointer;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: gray;
}
