
.Sport-div{
    display: flex;
    flex-direction: column;
}
.nav-right a{
    text-decoration: none;
    color: inherit;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-icons:hover{
    transform: scale(1.2);
    color: aliceblue;
    transition: all 0.1s ease;
}
nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40px;
    border-bottom: 2px solid rgb(208, 205, 205);
}
.nav-right{
    display: flex;
    gap: 1em;
    padding-right: 10px;
    justify-content: right;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #213a58;
    font-family: 'Roboto', sans-serif;  /* Apply the new font */
}
.item {
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 200px;
}
.item h2 {
    font-weight: 500;  /* Bold title for the footer sections */
    color: #ffffff;
    margin-bottom: 10px;
}
.para-footer {
    color: #ffffff;
    font-weight: 400; 
    cursor: pointer;
    transition: color 0.3s;
}
.para-footer:hover {
    color: #9500ff;  /* Attractive color change on hover */
}