@import url('https://fonts.googleapis.com/css?family=Roboto');
body
{
    background-color: #0D1B2B; 
    overflow-x:hidden;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing:  antialiased;
    margin: 0;
    font-style: italic;
}
footer{
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(73, 87, 111);
}
.flex { 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-direction: row; 
    flex-direction: row; 
    -webkit-justify-content: flex-start; 
    justify-content: flex-start;
}
.main {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    padding-top: 0; /* Ensure no extra padding pushes it down */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  }
  
  .content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  
  .content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
  }
  
  .content .cn{
    width: 160px;
    height: 40px;
    background: #46dfb1;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
  }
  
  .content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
    display: inline-block; /* Ensure the link behaves like a block element */
    width: 100%; /* Make the link take the full width of the button */
    height: 100%; /* Make the link take the full height of the button */
    text-align: center; /* Center the text horizontally */
    line-height: 40px;
  }
  
  .cn:hover{
    background-color: #fff;
  }
  
  .content span{
    color: #8dee98;
    font-size: 65px
  }
.slider-wrapper div
{
    position: relative;
}
.slider-wrapper
{
    margin-top: 15vw;
    margin-left: 11vw;
}
.slide-image {
    height: 24vw;
}
.slide-image img {
    width: 24vw; 
    cursor: pointer;
}
.slide-content 
{width: 25vw; 
    color: #fff; 
    padding:3vw 18vw 3vw 9vw;
}
.slide-date {
    color: #0a8acb; 
    font-size: 1.1vw; 
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    padding-bottom: 1.4vw;
}
.slide-title {
    font-size: 1.2vw; 
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    line-height: 1.55vw; 
    padding-bottom: 1.8vw;
}
.slide-text {
    font-size: 0.80vw; 
    line-height: 1.2vw; 
    opacity: 0.8; 
    padding-bottom: 4vw;
}
.slide-more {
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    float: left; 
    font-size: 0.9vw;
}
.slide-bullet {
    width: 0.5vw; 
    height: 0.5vw; 
    background-color: #0b8bcc; 
    border-radius: 200%; 
    position: relative; 
    margin-left: 1.2vw;
}
.slide-nav {
    margin-left: 64vw; 
    margin-top: -5.5vw;
}

div.overlay-blue {
    width: 100%;
     height: 100%; 
     position: absolute; 
     top: 0; transition: 0.5s ease all;
}
div.overlay-blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows{
    width: 3.5vw; 
    margin-top: -5.8vw; 
    margin-left: 72vw;
    position: relative;
}
.arrow {
    display:inline-block;
    position:absolute;
    width: 1.2vw;
    height: 1.2vw;
    background:transparent;
    text-indent:-9999px;
    border-top: 0.15vw solid #fff;
    border-left: 0.15vw solid #fff;
    transition:all .1s ease-in-out;
    text-decoration:none;
    color:transparent;
}
.arrow:hover {
    border-color:#0A8ACB; 
    border-width: 0.25vw;
}
.arrow:before {
    display: block; 
    height: 200%; 
    width: 200%; 
    margin-left: -50%; 
    margin-top: -50%; 
    content: ""; 
    transform: rotate(45deg);
}
.arrow.prev {
    transform: rotate(-45deg); 
    left: 0;
}
.arrow.next {
    transform: rotate(135deg); 
    right: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-icons:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.img-header{
    width: 50px;
    height: 40px;
    padding-left: 10px;
}
nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40px;
    border-bottom: 2px solid rgb(208, 205, 205);
}
.nav-right{
    display: flex;
    gap: 1em;
    padding-right: 10px;
    justify-content: right;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
footer{
    margin-top: 10em;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0D1B2B;
}
.item{
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 200px;
}
.para-footer{
    color: white;
    cursor: pointer;
}
.para-footer:hover{
    text-decoration: underline;
}
.item-2{
    color: #a41d1d;
}









@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}

body {
    width: 100%;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease; 
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#close {
    display: none;
}

#mobile {
    display: none;
    align-items: center;
}