:root {
    --primary-bg: #ffffff;
    --footer-bg: #0d1b2a;
    --footer-text: #fffbfb;
    --hover-color: #00e676;
    --hover-text-color: #801cc8;
}

body {
    background-color: var(--primary-bg);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 2px solid #ddd;
}

.material-icons:hover {
    transform: scale(1.2);
    color: var(--hover-color);
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-right a, .material-icons {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    transition: transform 0.3s, color 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}

.item {
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 200px;
}

.item h2 {
    font-weight: 500;
    color: #1a1717;
    margin-bottom: 10px;
}

.para-footer {
    color: var(--footer-text);
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s;
}

.para-footer:hover {
    color: var(--hover-text-color);
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: auto;
    }
}

.container-of-shoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

.box {
    background-color: #dbdbe2;
    border: 1px solid #b3abab;
}
.fashion-middle-1 {
    display: flex;
    margin: 10px;
    gap: 100px;
}
#f11 img{
    width: auto;
    height: 170px;
    margin-right: 50px;
}
#f1{
    margin-left: 50px;
}
.container{
    background-color: #bfb9b9;
    padding: 90px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}
.container-each{
    background-color: #00e676;
    width: 100px;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-each1{
}
